form{
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black ;
}

#heading{
    color: rgb(26, 107, 206);
}

#textbox{
    width: 125px;
    height: auto;
    font-size: 2em;
    text-align: center;
    border: 3.5px solid;
    border-radius: 7.5px;
}

#convert{
    font-weight: bold;
}

#submit{
    background-color: rgb(216, 38, 38);
    color: white;
    border-radius: 5px;
    height: 35px;
    transition: background-color 0.3s ease;
    border: white;  
    cursor: pointer;  
}

#submit:hover{
    background-color: rgb(255, 3, 3);
}
